
.header-text {
  color: #0e0965;
}

.love-science-robots {
  padding-top: 10px;
}


.hero {

  min-height: 300px;
  /* background: url('http://127.0.0.1:5500/conferences/petro/data/header-low.jpg') center center; */
  background-image: url('https://raw.githubusercontent.com/rendrom/petro2020/master/conferences/petro/data/header-low.jpg');
  background-position: center center;
  background-size: cover;
}



