.petro2020-header {
  position: relative;
  /* background-image: url(images/header-bg.jpg); */
}

.petro2020-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-content {
  padding: 20px;
}

.mdl-layout__title {
  text-align: center;
  line-height: 2rem;
}

.mdl-layout__title .sub-title {
  font-size: 14px;
  font-weight: 300;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.petro2020-logo-row {
  min-height: 200px;
}

.petro2020-logo-row > .mdl-layout__title {
  width: 100%;
}

.is-compact .petro2020-logo-row {
  min-height: auto;
}

.petro2020-logo {
  /* background: url(images/logo.png) 50% no-repeat; */
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto auto 10px;
}

.is-compact .petro2020-logo {
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

.petro2020-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}

.petro2020-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.petro2020-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
}

.petro2020-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.petro2020-navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

.petro2020-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(255,64,129);
  left: 15%;
}

.petro2020-blog-card-compact .mdl-card__title {
  padding-bottom: 0;
}

.petro2020-blog-card-bg > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

img.article-image {
  width: 100%;
  height: auto;
}

.petro2020-max-width {
  max-width: 900px;
  margin: auto;
}

.petro2020-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.petro2020-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.petro2020-contact .mdl-textfield {
  width: 100%;
}

.petro2020-contact form {
  max-width: 550px;
  margin: auto;
}

footer {
  /* background-image: url(images/footer-background.png); */
  background-size: cover;
}


